# cardlet region id (see registered share components)
cardlet.regionId=

# one of top, left, right, bottom, disabled
cardlet.regionColumn=

# arbitrary string to order carlets of the same column, e.g. a5, b71, ...
cardlet.regionPosition=

# allowed node type - full qname, e.g. {http://www.alfresco.org/model/content/1.0}content
cardlet.allowedType=

# the same as allowedType, but short qname (to form cardlet's childname)
cardlet.allowedTypeShort=

# full name authority, for which this cardlet is allowed
# e.g. admin, GROUP_ALFRESCO_ADMINISTRATORS
cardlet.allowedAuthority=

# condition in javascript (empty condition allows)
cardlet.condition=
