.node-actions .doclist
{
    visibility: visible;
}

.node-actions .doclist .action-set
{
    margin-top: 1em;
}

.node-actions .doclist .action-set a:active,
.node-actions .doclist .action-set a:hover
{
    background-color: #fff;
    text-decoration: none;
}

.node-actions .doclist .action-set div
{
    padding: 0.3em;
}

.doclist a.action-link,
.doclist a.simple-link,
.doclist a.show-more,
.doclist a.action-link-custom {
    background-position: left center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    display: block;
    min-height: 16px;
    padding: 2px 0 2px 24px;
}


/* --------------------- */
/*     base styles       */
/* --------------------- */

.node-actions .doclist .action-set a {
    background-image: none !important;
    padding-left: 7px;
}

.node-actions .doclist .action-set a span::before {
    display: inline-block;
    width: 16px;
    margin-right: 12px;
    vertical-align: text-bottom;
    font: 17px FontAwesome;
}

/* add link */
.node-actions .doclist .action-set [class*="add"] a span::before {
    content: '\f067'; /* plus */
}

/* edit link */
.node-actions .doclist .action-set [class*="edit"]:not([class*="google-docs-edit-action-link"]):not([class*="document-edit-metadata"]) a span::before,
.node-actions .document-fill-template a span::before {
    content: '\f040'; /* pen - edit */
}

/* delete link */
.node-actions .doclist .action-set [class*="delete"] a span::before {
    content: '\f00d'; /* close cross */
}

/* download link */
.node-actions .doclist .action-set [class*="download"] a span::before {
    content: '\f019'; /* download */
}

/* upload link */
.node-actions .doclist .action-set [class*="upload"] a span::before {
    content: '\f093'; /* upload */
}

/* save link */
.node-actions .doclist .action-set [class*="save"] a span::before {
    content: '\f0c7'; /* save */
}

/* copy link */
.node-actions .doclist .action-set [class*="copy"] a span::before {
    content: '\f0c5'; /* copy */
}

/* start link */
.node-actions .doclist .action-set [class*="start"] a span::before {
    content: '\f055'; /* plus circle */
}

/* print link */
.node-actions .doclist .action-set [class*="print"] a span::before {
    content: '\f02f'; /* print */
}

/* settings link */
.node-actions .doclist .action-set .document-manage-aspects a span::before {
    content: '\f013'; /* cog settings */
}

.node-actions .doclist .action-set .document-take-ownership a span::before,
.node-actions .doclist .action-set .custom-manage-permissions a span::before {
    content: '\f084'; /* key */
}

.node-actions .doclist .action-set .de_fme_jsconsole-open-in-jsconsole a span::before {
    content: '\f120'; /* terminal */
}

.node-actions .doclist .action-set .de_fme_jsconsole-dump-in-jsconsole a span::before {
    content: '\f1c9'; /* file - html */
}

.node-actions .doclist .action-set .document-generate-barcode a span::before {
    content: '\f02a'; /* barcode */
}

/* --------------------- */
/*     special styles    */
/* --------------------- */

/* edit properties link */
.node-actions .document-edit-metadata a span::before,
.node-actions .google-docs-edit-action-link a span::before {
    content: '\f044'; /* edit2 - permissions */
}