.ecos-form {
    background: #f0f0f0;
    border-radius: 8px;
}
.ecos-case-form-section .rowset-body {
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.ecos-case-form-section .title {
    /*margin-top: 10px;*/
    font-family: Open Sans, Arial, sans-serif !important;
    color: #666 !important;
    margin: 0;
    font-weight: 600;
    background: #fff6d9;
    padding: 8px;
    margin-bottom: 10px;
}