.orgstruct-console {
   display: flex;
   margin: 0;
   padding: 0 25px;
}

.orgstruct-console .title
{
   font-size: 123.1%;
   font-weight: bold;
   padding-bottom: 0.5em;
}

.orgstruct-console .orgstruct-config-selector 
{
	margin-bottom: 20px;
}

/*
 * Toolbar
 */

.orgstruct-console .toolbar 
{
	float: left;
	width: 100%;
	min-height: 2em;
	padding: 0.25em 0em;
	position: relative;
}

.orgstruct-console .toolbar .toolbar-buttons
{
	position: absolute;
	height: 100%;
	top: 0;
}

.orgstruct-console .toolbar .toolbar-buttons button
{
	width: 16px;
	height: 100%;
	margin: 0px 2px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left;
}

.orgstruct-console .toolbar button label
{
	/*padding-left: 16px;*/
	display: none;
}

/* search-input */
.orgstruct-console .toolbar .search .search-input
{
	display: inline-block;
	padding: 0.2em;
}

.orgstruct-console .toolbar .search-input
{
	display: none;
}

/*
 * Resizer
 */ 

.orgstruct-tree-resizer
{
	min-width: 300px;
	max-width: 600px;
	/*height: 600px;*/
	min-height: 100vh;
	padding: 0 4px 0px 0;
	float: left;
}

.orgstruct-tree-resizer > *
{
	width: 100%;
}

.orgstruct-console .dynamic-tree
{
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.orgstruct-console .selected-item-details 
{
	min-height: 600px;
	overflow: hidden;
    padding-left: 15px;
}

.orgstruct-console .dynamic-list
{
	min-width: 300px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

/*
 * Items overrides
 */

/* half-width items */
.orgstruct-console .dynamic-list .ygtvtable {
	width: 50%;
	min-width: 300px;
}

/* Forms */

.form-container .form-fields
{
   border-bottom: medium none;
   padding: 1em 1em 0em 1em;
}

/* People picker */

.people-picker
{
   width: 51em;
}

.people-picker .people-finder .search-text
{
   padding: 0 1em 0.3em 0.3em;
}

.people-picker .people-finder.list
{
   margin-bottom: 0;
   margin-top: 0;
   padding-bottom: 1em;
   padding-top: 0.3em;
}

.people-picker .people-finder .title
{
   display: none;
}

.people-picker .bd
{
   padding: 1em;
}

.people-picker .search-button
{
   margin-top: 0;
}

/* Group picker */

.groups.group-picker
{
   width: 51em;
}

.group-picker .group-finder.list
{
   margin-bottom: 0;
   margin-top: 0;
   padding-bottom: 1em;
   padding-top: 0.3em;
}

.group-picker .group-finder .title
{
   display: none;
}

.group-picker .bd
{
   padding: 1em;
}

/* Delete Dialog */

.delete-dialog {
	width: 400px;
}

.delete-dialog div div div
{
   margin-top: 0.3em;
   text-align: center;
}

.delete-dialog .yui-gf div.first
{
   width: 10%;
}

.delete-dialog .yui-gf .yui-u
{
   width: 83%;
}

.delete-dialog .dialog-panel
{
   padding: 1em;
}

.delete-dialog .dialog-panel .parent-list
{
   color: #919DAB;
   margin-bottom: 1em;
}



.orgstruct-console .ygtvlp,
.orgstruct-console .ygtvtp {
    width: 20px;
}

.ygtvcell.USER.available-true {
	cursor: pointer;
}

#bd [id$="orgstruct"] .orgstruct-console .orgstruct-tree-resizer {
	padding-right: 0;
}

#bd [id$="orgstruct"] .orgstruct-console .orgstruct-tree-resizer .dynamic-tree-list .ygtvcontent {
	padding-right: 80px;
}
