
.ygtvcell.GROUP-role.delegate-false.manage-true
{
    background-image: url(icons/role-green-16.png);
}

.ygtvcell.GROUP-role.delegate-true.manage-true
{
    background-image: url(../orgstruct/icons/role-16.png);
}

.ygtvcell.GROUP-role.delegate-false.manage-false
{
    background-image: url(icons/role-orange-16.png);
}

.ygtvcell.GROUP-role.delegate-true.manage-false
{
    background-image: url(icons/role-yellow-16.png);
}

.orgstruct-config-selector
{
    visibility: hidden;
}

.orgstruct-console .toolbar
{
    margin: 0;
}


.orgstruct-console .ygtvlp