.doclist-table-view
{
	position: relative;
	border-collapse: collapse;
	border-spacing: 0;
}

.doclist .documents.yui-dt.doclist-table-view table thead
{
	display: table-header-group;
}

/* do not display thumbnail in table view */
.doclist-table-view .yui-dt-col-thumbnail,
.doclist-table-view .yui-dt-col-fileName
{
	display:none;
}

/* property table setup */
.doclist-table-view tr
{
	height: 2.5em;
}

.doclist .documents.yui-dt.doclist-table-view .yui-dt-data td
{
	border-left: none !important;
	border-right: 1px solid #CBCBCB;
}

.doclist-table-view .yui-dt-col-actions .hidden
{
	display: block !important;
}

.doclist-table-view .yui-dt-col-actions,
.doclist-table-view .yui-dt-col-actions .yui-dt-liner
{
	width: 150px !important;
}

.doclist-table-view .yui-dt-col-actions .action-set.table
{
	white-space: nowrap;
}

.doclist-table-view .yui-dt-col-actions .action-set.table > div
{
	vertical-align: top;
}

.doclist-table-view .yui-dt-col-actions .action-set.table .more-actions
{
	position: absolute;
	margin-top: 0em;
	margin-left: 0;
	right: 0px;
	width: auto;
	min-width: 220px;
}

.doclist-table-view .yui-dt-col-actions .action-set.table .action-link,
.doclist-table-view .yui-dt-col-actions .action-set.table .simple-link
{
	padding-right: 0px;
}

/* property table setup */
.doclist-table-view table.property-table tr
{
	width: 100%;
}

/* property cells setup */
.doclist-table-view table.property-table td
{
	display: table-cell;
	
	border-left: 1px solid #DDD;
	padding: 0px 0.3em;
}

/* actions are shown in line */
.doclist-table-view .action-set > *
{
	display: inline-block;
}

/* actions are shown without labels */
.doclist-table-view .action-set a.simple-link span,
.doclist-table-view .action-set a.action-link span
{
	display: none;
}

.doclist-table-view .action-set .more-actions a.simple-link span,
.doclist-table-view .action-set .more-actions a.action-link span
{
	display: inline;
}

.doclist-table-view tr.yui-dt-even
{
	background-color: #FFF;
}

.doclist-table-view tr.yui-dt-odd
{
	background-color: #F8F8F8;
}
