*-min.js
*.bpmn2d
*.iml
*.log
*.log.*
.bpmn
.buildpath
.checkstyle
.classpath
.idea
.project
.settings
.xml
alf_data_dev
bin
logs
build
target
nodejs/*
node_modules/*
src/test/properties/local/alfresco-global-dev.properties
.alfresco-global-dev.properties
rebel.xml
.rebel.xml.bak
package-lock.json
