#HEADER_SEARCH_BOX #HEADER_SEARCHBOX_FORM_FIELD {
    line-height: 26px;
    box-sizing: border-box;
    margin: 0;
}

.share-header-search__inner {
    display:table-cell;
    vertical-align:middle;
}

.search-dropdown-menu,
.share-header-search__clear-button {
    height: 30px;
    font-size: 18px;
    margin-right: 9px;
    margin-left: 9px;
    float: left;
}

.share-header-search__clear-button {
    float: right;
}

.search-dropdown-menu i,
.share-header-search__clear-button i {
    line-height: 30px;
    color: #989898;
    cursor: pointer;
}