.node-actions .doclist
{
    visibility: visible;
}

.node-actions .doclist .action-set
{
    margin-top: 1em;
}

.node-actions .doclist .action-set a:active,
.node-actions .doclist .action-set a:hover
{
    background-color: #fff;
    text-decoration: none;
}

.node-actions .doclist .action-set div
{
    padding: 0.3em;
}

.doclist a.action-link,
.doclist a.simple-link,
.doclist a.show-more,
.doclist a.action-link-custom {
    background-position: left center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    display: block;
    min-height: 16px;
    padding: 2px 0 2px 24px;
}


/* --------------------- */
/*     base styles       */
/* --------------------- */

/* add link */
.node-actions [class*="add"] a {
    background-image: url(../../../themes/citeckTheme/images/create.png) !important; 
}

.node-actions [class*="add"] a:hover {
    background-image: url(../../../themes/citeckTheme/images/create-active.png) !important; 
}

/* edit link */
.node-actions [class*="edit"] a {
    background-image: url(../../../themes/citeckTheme/images/edit.png) !important; 
}

.node-actions [class*="edit"] a:hover {
    background-image: url(../../../themes/citeckTheme/images/edit-active.png) !important; 
}

/* delete link */
.node-actions [class*="delete"] a {
    background-image: url(../../../themes/citeckTheme/images/remove.png) !important; 
}

.node-actions [class*="delete"] a:hover {
    background-image: url(../../../themes/citeckTheme/images/remove-active.png) !important; 
}

/* download link */
.node-actions [class*="download"] a {
    background-image: url(../../../themes/citeckTheme/images/download.png) !important; 
}

.node-actions [class*="download"] a:hover {
    background-image: url(../../../themes/citeckTheme/images/download-active.png) !important; 
}

/* upload link */
.node-actions [class*="upload"] a {
    background-image: url(../../../themes/citeckTheme/images/upload.png) !important; 
}

.node-actions [class*="upload"] a:hover {
    background-image: url(../../../themes/citeckTheme/images/upload-active.png) !important; 
}

/* save link */
.node-actions [class*="save"] a {
    background-image: url(../../../themes/citeckTheme/images/save.png) !important; 
}

.node-actions [class*="save"] a:hover {
    background-image: url(../../../themes/citeckTheme/images/save-active.png) !important; 
}

/* copy link */
.node-actions [class*="copy"] a {
    background-image: url(../../../themes/citeckTheme/images/copy.png) !important; 
}

.node-actions [class*="copy"] a:hover {
    background-image: url(../../../themes/citeckTheme/images/copy-active.png) !important; 
}

/* start link */
.node-actions [class*="start"] a {
    background-image: url(../../../themes/citeckTheme/images/do-transition.png) !important; 
}

.node-actions [class*="start"] a:hover {
    background-image: url(../../../themes/citeckTheme/images/do-transition-active.png) !important; 
}


/* --------------------- */
/*     special styles    */
/* --------------------- */

/* edit properties link */
.node-actions .document-edit-metadata a,
.node-actions .google-docs-edit-action-link a {
    background-image: url(../../../themes/citeckTheme/images/edit-properties.png) !important; 
}

.node-actions .document-edit-metadata a:hover,
.node-actions .google-docs-edit-action-link a:hover {
    background-image: url(../../../themes/citeckTheme/images/edit-properties-active.png) !important; 
}

/* template */
.node-actions .document-fill-template a {
    background-image: url(../../../themes/citeckTheme/images/edit.png) !important; 
}

.node-actions .document-fill-template a:hover {
    background-image: url(../../../themes/citeckTheme/images/edit-active.png) !important; 
}