/*
 * Items
 */

/* whole width items by default */
.dynamic-tree-list .ygtvtable
{
	width: 100%;
	position: relative; /* to make item-buttons right-aligned */
}

/* item configuration */
.dynamic-tree-list .ygtvcontent
{
	text-align: left;
	height: 2em;
	padding-left: 20px !important;
	border: none !important;
	background-repeat: no-repeat;
	background-position: left;
}

.plain .dynamic-tree-list .ygtvcontent {
	padding-left: 0 !important;
	height: auto;
}

.plain .dynamic-tree-list table {
	width: 100%;
}

/* color on highlight */
.dynamic-tree-list.color-highlight .ygtv-highlight1 .ygtvcell,
.dynamic-tree-list.color-highlight .ygtv-highlight1 .ygtvcell.ygtvfocus,
.dynamic-tree-list.color-highlight .ygtv-highlight1 .ygtvrow:hover .ygtvcell {
	background-color: #f0f0f0;
}

/* color on focus */
.dynamic-tree-list .ygtvcell.ygtvfocus
{
	background-color: inherit;
}

.dynamic-tree-list .ygtvtable.ygtvdepth0 {
	font-weight: 900;
}

.yui-skin-citeckTheme .yui-panel-container .yui-panel .bd .yui-g .yui-u .dynamic-tree-list .ygtvtable .ygtvrow:hover .ygtvcell {
	background-color: transparent;
	color: red;
	cursor: pointer;
}

.yui-skin-citeckTheme .yui-panel-container .yui-panel .bd .yui-g .yui-u .dynamic-tree-list > .ygtvitem > .ygtvchildren > .ygtvitem {
	padding: 5px 35px 5px 12px; 
}

.yui-skin-citeckTheme .yui-panel-container .yui-panel .bd .yui-g .yui-u .dynamic-tree-list > .ygtvitem > .ygtvchildren > .ygtvitem:not(:first-child) {
	border-top: 1px solid #ccc;
}

/* item buttons group */
.dynamic-tree-list .item-buttons {
	position: absolute;
	top: 0px;
	right: -25px;
	height: 100%;
	min-height: 2em;
}



/* item button */
.dynamic-tree-list .item-buttons button {
	width: 16px;
	height: 100%;
	margin: 0px 2px;
	border: none;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* hide-buttons class */
.dynamic-tree-list.hide-buttons .ygtvrow .item-buttons button
{
	display: none;
}
.dynamic-tree-list.hide-buttons .ygtvrow:hover .item-buttons button
{
	display: inline-block;
}

/*
 * Tree specific configuration
 */

/* do not show expand/collapse icons on final nodes */
.dynamic-tree .ygtvtn, .dynamic-tree .ygtvln {
	background-image: none;
	width: 17px;
}

/* expand icon in tree */
.dynamic-tree .ygtvtp, .dynamic-tree .ygtvtph,
.dynamic-tree .ygtvlp, .dynamic-tree .ygtvlph {
	background-image: url(icons/expanded.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* collapse icon in tree */
.dynamic-tree .ygtvtm, .dynamic-tree .ygtvtmh, 
.dynamic-tree .ygtvlm, .dynamic-tree .ygtvlmh {
	background-image: url(icons/collapsed.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* loading icon in tree */
.dynamic-tree .ygtvloading
{
	background-image: url(icons/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
}

/*
 * List specific configuration
 */

/* hide icons in list */
.dynamic-list .ygtvtn, .dynamic-list .ygtvln,
.dynamic-list .ygtvtp, .dynamic-list .ygtvtph,
.dynamic-list .ygtvlp, .dynamic-list .ygtvlph,
.dynamic-list .ygtvtm, .dynamic-list .ygtvtmh, 
.dynamic-list .ygtvlm, .dynamic-list .ygtvlmh,
.dynamic-list .ygtvloading
{
	display: none;
}
