.dynamic-doclib-table .sort-direction,
.dynamic-doclib-table .sort-field,
.dynamic-doclib-table .show-folders,
.dynamic-doclib-table .file-select,
.dynamic-doclib-table .yui-dt-col-nodeRef
{
	display: none !important;
}

/* always show element actions */
.dynamic-doclib-table .yui-dt-col-actions .hidden
{
    display: block !important;
    visibility: visible !important;
}

/* do not show document-unselect in read-only state */
.dynamic-doclib-table.read-only div.document-unselect
{
	display: none !important;
}

/* non-fixed fileName column liner */
.dynamic-doclib-table .yui-dt-col-fileName .yui-dt-liner
{
    width: 100% !important;
}

.ygtvcell.document-picker
{
	background-image: url(/share/res/components/images/generic-file-16.png);
}

.ygtvcell.folder-picker
{
	background-image: url(/share/res/components/images/filetypes/generic-folder-16.png);
}

.ygtvcell.site
{
	background-image: url(/share/res/components/images/site-16.png);
}

.document-link:hover {
    text-decoration: underline !important;
    background: none !important;
}
