.document-metadata-header .alfresco-twister-actions
{
	display: none;
}

.avatar
{
    width: 64px;
}

.yui-u.first .document-details-panel
{
        background-color: transparent;
}

.yui-g  .yui-gb > div.yui-u.first,
.yui-gb .yui-gb > div.yui-u.first,
.yui-gc .yui-gb > div.yui-u.first,
.yui-gd .yui-gb > div.yui-u.first
{ width: 32%; }
