
.eform-panel-content.formbuilder {
     margin-right: 0 !important;
     margin-left: 0 !important;
}

.eform-panel-content {
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 1px;
}

.eform-panel-content select,
.eform-panel-content input[type="file"],
.eform-panel-content input[type="text"],
.eform-panel-content input[type="password"],
.eform-panel-content textarea {

    width: 100% !important;
    padding: 6px 12px !important;
}