.document-metadata-header .alfresco-twister-actions
{
  display: none;
}

.avatar
{
    width: 64px;
}

.yui-u.first .document-details-panel
{
  background-color: transparent;
}

.yui-g  .yui-gb:not(.plain) > div.yui-u.first,
.yui-gb .yui-gb:not(.plain) > div.yui-u.first,
.yui-gc .yui-gb:not(.plain) > div.yui-u.first,
.yui-gd .yui-gb:not(.plain) > div.yui-u.first { 
  width: 32%; 
}

#card-details-root,
#page-content-root {
    height: 100%;
    min-height: 100%;
}

.header-tabs
{
    padding: 2px 10px 2px 10px;
}

.header-tabs .header-tab
{
    padding: 3px 10px;
    margin: 0 2px;
}

.header-tab.current
{
    background-color: lightgray;
    font-weight: bold;
}

.header-tab:hover
{
    background-color: lightgray;
}