/* common */
.menu-item {
    border: none;
}

#share-header {
    min-height: 40px;
    margin: 0;
}

.alfresco-layout-LeftAndRight__right:after {
    content: '.';
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

/* dropdown menu toggle */
.site-dropdown-menu,
.user-dropdown-menu {
    display: table;
}

.site-dropdown-menu__toggle,
.user-dropdown-menu__toggle {
    display:table-cell;
    vertical-align:middle;
    height: 40px;
    cursor: pointer;
    padding: 0 15px;
}

.site-dropdown-menu__toggle {
    padding: 0 10px;
}

.site-dropdown-menu__toggle:after,
.user-dropdown-menu__toggle:before {
    content: '▾';
    font-size: 14px;
    color: #fff;
    float: right;
    height: 100%;
    display: block;
    line-height: 40px;
    margin-left: 5px;
}

.site-dropdown-menu__toggle:hover,
.user-dropdown-menu__toggle:hover {
    background-color: #88a5c3;
}

.site-dropdown-menu__toggle i,
.user-dropdown-menu__toggle .user-menu-username {
    color: #ffffff;
    line-height: 40px;
    display: inline-block;
}

.user-photo-header {
    float: right;
    margin-right: 5px;
}

/* dropdown menu body */
.custom-dropdown-menu {
    border-radius: 0;
    color: #fff;
    background-color: #88a5c3;
    box-shadow: 0 0 9px 1px rgba(0,0,0,.3);
    border-color: #83a4c6;
    padding: 6px !important;
}

.custom-dropdown-menu .custom-dropdown-menu__item a {
    color: #fff;
    font-family: Open Sans, arial, helvetica, clean, sans-serif;
    font-size: 13px;
    line-height: 26px;
    padding: 0 4px;
}

.custom-dropdown-menu .custom-dropdown-menu__item a:focus,
.custom-dropdown-menu .custom-dropdown-menu__item a:hover {
    background-color: #a6c8ec;
    color: #fff;
}

.custom-dropdown-menu .custom-dropdown-menu__item a:visited {
    color: #fff;
}

.custom-dropdown-menu .custom-dropdown-menu__item a img {
    padding: 4px 8px 4px 0;
}

.custom-dropdown-menu .custom-dropdown-menu__item i.fa {
    padding: 4px 0;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    width: 24px;
}