#HEADER_SITE_MENU .dropdown-menu li{
    padding: 4px 8px;
}

#HEADER_SITE_MENU .dropdown-menu li a img,
#HEADER_SITE_MENU .dropdown-menu i.fa {
    padding: 4px 4px 4px 0;
}

#HEADER_SITE_MENU .dropdown-menu > li > a {
    padding: 0;
}