.alf-header .dijitMenuItem.yui-menu-button button {
   background-image: url(../../js/alfresco/header/css/images/MenuArrow.PNG);
}

.dijitMenuItem.dijitHover.yui-menu-button button {
   background-color: #717171;
   color: #fff;
}

#Share {
  opacity: 1;
}

/*for fix bug with incorrect message is presented during search*/
div#FCTSRCH_SEARCH_RESULTS_LIST .data-failure {
  display: none;
}

/* ---------------- UI ---------------- */


/* calendar */

#Share #bd {
  margin: 0;
}

#Share #bd div.fullCalendar .fc-content {
  left: 0;
}

.wait-indicator-envelope {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10005;
  top: 0;
  left: 0;
}

.wait-indicator-envelope {
  background-color: rgba(0,0,0,0.3);
}

.wait-indicator-container {
  position: absolute;
  text-align: center;
  z-index: 10010;
}

.wait-indicator-container .wait-indicator-indicator {
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
  border: 10px solid #2d3541;
  border-radius: 50%;

  animation: cssload-spin 1250ms infinite linear;
  -o-animation: cssload-spin 1250ms infinite linear;
  -ms-animation: cssload-spin 1250ms infinite linear;
  -webkit-animation: cssload-spin 1250ms infinite linear;
  -moz-animation: cssload-spin 1250ms infinite linear;
}

.wait-indicator-container .wait-indicator-indicator.three-spinner {
  border-left-color: transparent !important;
}

.wait-indicator-container .wait-indicator-indicator.two-spinner {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

.wait-indicator-container .wait-indicator-indicator.one-spinner {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.wait-indicator-container .wait-indicator-message {
  max-width: 80%;
  position: absolute;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}




@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ---------------- UI ---------------- */

.wait-indicator-envelope {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10005;
  top: 0;
  left: 0;
}

.wait-indicator-envelope {
  background-color: rgba(0,0,0,0.3);
}

.wait-indicator-container {
  position: absolute;
  text-align: center;
  z-index: 10010;
}

.wait-indicator-container .wait-indicator-indicator {
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
  border: 10px solid #2d3541;
  border-radius: 50%;

  animation: cssload-spin 1250ms infinite linear;
  -o-animation: cssload-spin 1250ms infinite linear;
  -ms-animation: cssload-spin 1250ms infinite linear;
  -webkit-animation: cssload-spin 1250ms infinite linear;
  -moz-animation: cssload-spin 1250ms infinite linear;
}

.wait-indicator-container .wait-indicator-indicator.three-spinner {
  border-left-color: transparent !important;
}

.wait-indicator-container .wait-indicator-indicator.two-spinner {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

.wait-indicator-container .wait-indicator-indicator.one-spinner {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.wait-indicator-container .wait-indicator-message {
  max-width: 80%;
  position: absolute;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* orgstruct */

.orgstruct-header {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.orgstruct-layout {
  background-color: white;
}

.orgstruct-layout .selected-object {
  padding: 10px 35px 10px 10px;
  position: relative;
  line-height: normal;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: 10px center;
}

.orgstruct-layout .selected-object:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.orgstruct-layout .selected-object:after {
  content: "\f00d";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  right: 10px;
  top: 9px;
  font-size: 16px;
}

.orgstruct-layout .selected-object:hover {
  color: red;
}

.orgstruct-header .orgstruct-search {
  position: relative;
}

.orgstruct-header .orgstruct-search input[type="text"].search-input {
  padding: 5px 10px 5px 30px;
  border-radius: 10px;
}

.orgstruct-header .orgstruct-search .search-icon {
  position: absolute;
  left: 7px;
  top: 6px;
  font-size: 16px;
  color: #CCC;
}

.orgstruct-tree {
  height: 250px;
  overflow-y: auto;
}

.orgstruct-tree > .ygtvitem > .ygtvchildren > .ygtvitem {
  padding: 5px 10px;
}

.orgstruct-tree > .ygtvitem > .ygtvchildren > .ygtvitem:not(:first-child) {
  border-top: 1px solid #ccc;
}

.orgstruct-tree .ygtvtable {
  width: 100%;
}

.orgstruct-tree .ygtvcontent {
  padding: 5px 0;
  text-align: left;
  cursor: default;
}

.orgstruct-tree .selectable .ygtvrow .ygtvcontent {
  padding-right: 25px;
  position: relative;
}

.orgstruct-tree .selectable .ygtvrow .ygtvcontent:after {
  content: "\f067";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 16px;
}

.orgstruct-tree .ygtvcontent .ygtvlabel {
  display: block;
  cursor: default;
  margin: 0;
  padding-left: 10px;
  line-height: normal;

  background-position: left center;
  background-repeat: no-repeat;
}

.orgstruct-tree .ygtvtable.selectable .ygtvrow:hover .ygtvcontent,
.orgstruct-tree .ygtvtable.selectable .ygtvrow:hover .ygtvcontent .ygtvlabel {
  color: red;
  cursor: pointer;
}

.orgstruct-tree .ygtvfocus,
.orgstruct-tree .ygtvfocus .ygtvlabel {
  background-color: transparent;
}

.orgstruct-control-objects {
  float: left;
  width: 72.5%;
  position: relative;
}

.orgstruct-control-objects .selected-object-list li.selected-object {
  line-height: 200%;
}
#HEADER_SITE_MENU,
#HEADER_CREATE_CASE {
  font: 20px FontAwesome;
  color: #fff;
}

#HEADER_SITE_MENU_text:before {
  font: 20px FontAwesome;
  content: '\f013'; /* cog */
}

#HEADER_CREATE_CASE_text:before {
  font: 20px FontAwesome;
  content: '\f067 '; /* plus */
}

.mobile #HEADER_USER_MENU_text:before {
  font: 20px FontAwesome;
  color: #fff;
  content: '\f007'; /* user */
}

.alfresco-share .logo {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
}

#alfresco-console .application .logo {
  min-width: 170px;
}

#alfresco-console .application .logo img {
  max-width: 170px;
}

#HEADER_APP_MENU_BAR #HEADER_LOGO img {
  max-width: 111px;
  max-height: 20px;
}

#HEADER_APP_MENU_BAR #HEADER_MOBILE_MENU {
  display: none;
}

#HEADER_APP_MENU_BAR .dijitMenuItem {
  display: inline-block;
}

#HEADER_APP_MENU_BAR #HEADER_MOBILE_LOGO img {
  max-width: 16px;
  max-height: 16px;
}

.alfresco-share div.user-photo-header {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding-left: 5px;
}

.alfresco-share div.show-hint {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  padding-left: 0px;
  padding-right: 10px;
}

.alfresco-share div.headHintIcon {
  width:   30px;
  height:  30px;
  margin:  5px 1px 1px 2px;
}

.alfresco-share div.show-hint-header {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding-left: 5px;
}

.alfresco-share.mobile img.user-photo-header {
  height: 25px;
  width: 25px;
  margin-top: 5px;
}

.alfresco-share div.user-photo-header > div{
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  border-radius: 50%;
}

.mm-slideout #HEADER_USER_MENU {
  display: inline-flex;
}

.alfresco-share #HEADER_USER_MENU {
  max-width: 300px;
}

.mobile #HEADER_CREATE_CASE_dropdown {
  left: 0 !important;
}

#HEADER_CREATE_CASE .alfresco-menus-AlfMenuBarPopup__arrow {
  display: none;
}

.mm-page .alfresco-footer-AlfStickyFooter > div.wrapper {
  background-color: white;
}

#alfresco-console .application .row {
  height: 3.5em;
}

.loader-panel {
  position: relative;
}

.loader-panel__message {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  margin: -10% 0;
  text-align: center;
}

.loader-panel .loading-indicator,
.loading-container .loading-indicator {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 10px solid #2d3541;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 1100ms infinite linear;
  -o-animation: cssload-spin 1100ms infinite linear;
  -ms-animation: cssload-spin 1100ms infinite linear;
  -webkit-animation: cssload-spin 1100ms infinite linear;
  -moz-animation: cssload-spin 1100ms infinite linear;
}

.alfresco-share .alfresco-header-SearchBox {
  margin: 2px 10px 0px 10px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #cccccc inset;
  padding-left: 4px;
  padding-bottom: 1px;
  height: 23px;
}

.alfresco-share .alfresco-header-SearchBox .alfresco-header-SearchBox-menu {
  display: inline-block;
  width: 35px;
}

.alfresco-share .alfresco-header-SearchBox input.alfresco-header-SearchBox-text {
  background-color: #ffffff;
  border: none;
  font-size: 100%;
  padding: 0;
  margin-right: 8px;
  margin-left: -6px;
  position: relative;
  top: 2px;
  margin-top: 1px;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.alfresco-share .alfresco-header-SearchBox .alfresco-header-SearchBox-clear {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 12px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.alfresco-share .alfresco-header-SearchBox .alf-livesearch {
  position: absolute;
  min-width: 360px;
  max-width: 500px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 0.33px 0px 8px rgba(0, 0, 0, 0.3);
  color: #333333;
  margin-top: 3px;
  z-index: 1000;
  display: none;
}

.alfresco-share .dijitReset.dijitInline.dijitMenuItemLabel.dijitMenuItem {
  margin: 0 5px;
  padding: 2px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
  height: 20px;
}

.alfresco-share .alfresco-menus-AlfMenuBarPopup__arrow {
  margin-left: 3px;
  width: 20px;
  padding-bottom: 2px;
  vertical-align: super;
}

.alfresco-share .alfresco-menus-AlfMenuBar .dijitMenuBar {
  font-family: Open Sans, arial, sans-serif;
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
  margin: 0;
  padding: 0;
}

.alfresco-layout-LeftAndRight__right > * {
  float: right;
}

.alfresco-layout-LeftAndRight__left > * {
  float: left;
}

.clear-both {
  clear: both;
}

#page-content-root {
  height: 100%;
}

#page-content-root>.sticky-wrapper {
  height: 100%;
  min-height: 100%;
}

.web-preview canvas[id*="viewer-canvas"] {
  visibility:inherit !important;
}

#group-action-result-dialog td,
#group-action-result-dialog th,
div[id*="-results-panel"].yui-panel td,
div[id*="-results-panel"].yui-panel th {
  padding-left: 10px;
  padding-top: 5px;
}

#group-action-result-dialog>.bd,
div[id*="-results-panel"].yui-panel>.bd {
  padding-top: 5px;
  padding-bottom: 5px;
}

.custom-button-download {
    background-image: url(/share/res/citeck/components/dynamic-tree/icons/download-active.png) !important;
    margin: 2px 0 2px 24px;
    min-width: 16px;
    min-height: 16px;
}

.custom-button-edit {
    background-image: url(/share/res/citeck/components/dynamic-tree/icons/edit-properties.png) !important;
    margin: 2px 0 2px 24px;
    min-width: 16px;
    min-height: 16px;
}

/* bootstrap fixes */
.yui-panel .collapse:not(.panel-collapse) {
    display: block;
}