.hide-column
{
    display: none;
}

.yui-dt-col-taskType
{
    font-weight: bold !important;
}

th.yui-dt-col-taskType
{
    color: #ff0000 !important;
}

.loading-form {
    width: 100%;
    height: 100px;
    background: url(icons/large-loading.gif) no-repeat center center;
}