/* do not show header, except search */
.dynamic-tree-picker .picker-header .navigator,
.dynamic-tree-picker .picker-header .folder-up
{
    display: none;
}

.dynamic-tree-picker .picker-header
{
    padding: 3px;
    border-bottom: 2px solid #EEEEEE;
}

.dynamic-tree-picker .picker-header .search
{
    margin: 0;
}

.dynamic-tree-picker .picker-header .search input,
.dynamic-tree-picker .picker-header .search label
{
    display: inline-block;
	vertical-align: top;
    padding: 4px;
}

/* resizer */
.dynamic-tree-picker .yui-resize-handle {
	background-color: white;
    margin-right: -7px;
}

.dynamic-tree-picker .panel-left {
    min-width: 200px;
    max-width: 600px;
}

.dynamic-tree-picker .panel-right
{
    width: auto;
    overflow: hidden;
    float: none;
    padding: 0 !important;
}

.dynamic-tree-picker .panel-left,
.dynamic-tree-picker .panel-right
{
    height: 300px !important;
}

/* tree style */
.dynamic-tree-picker .picker-items
{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

/* max width of current value item */
.dynamic-tree-picker .current-values .ygtvtable {
    max-width: 300px;
	border: none;
}

/* hide add button if item selected in single-select mode */
.dynamic-tree-picker.single-selector.selected .item-buttons .itemSelect
{
    display: none;
}

.dynamic-tree-list.current-values .item-buttons {
    right: 0px;
}

/* do not show item buttons in read-only mode */
.dynamic-tree-picker .current-values.read-only .item-buttons
{
    display: none;
}

/* override default settings for viewmode-field divs */
.form-container .viewmode-value 
.dynamic-tree-picker .current-values.read-only div
{
    display: block;
    padding: 0;
}

/* item button icons */
.dynamic-tree-picker .item-buttons .itemSelect
{
    background-image: url(../../../../components/form/images/add-icon-16.png);
}

.dynamic-tree-picker .item-buttons .itemUnselect
{
    background-image: url(../../../../components/form/images/remove-icon-16.png);
}

/* empty picker message */
.dynamic-tree-picker .dynamic-tree > :only-child > :only-child:empty
{
    display: block !important;
    text-align: center;
}

.dynamic-tree-picker .dynamic-tree.loading > :only-child > :only-child:empty:before
{
    content: "\0417 \0430 \0433 \0440 \0443 \0437 \043A \0430 ...";
}

.dynamic-tree-picker .dynamic-tree > :only-child > :only-child:empty:before
{
    content: "\041D \0438 \0447 \0435 \0433 \043E  \043D \0435  \0437 \0430 \0433 \0440 \0443 \0436 \0435 \043D \043E !";
}

/* do not show unselect action, when remove action is denied */
.dynamic-tree-picker.deny-remove .document-unselect
{
	display: none !important;
}

/*
Загрузка
\0417 \0430 \0433 \0440 \0443 \0437 \043A \0430 ...

Ничего не загружено
\041D \0438 \0447 \0435 \0433 \043E  \043D \0435  \0437 \0430 \0433 \0440 \0443 \0436 \0435 \043D \043E !\
*/