.alf-header .dijitMenuItem.yui-menu-button button {
   background-image: url(../../js/alfresco/header/css/images/MenuArrow.PNG);
}

.dijitMenuItem.dijitHover.yui-menu-button button {
   background-color: #717171;
   color: #fff;
}

#Share {
  opacity: 1;
}

/* ---------------- UI ---------------- */

.wait-indicator-envelope {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10005;
  top: 0;
  left: 0;
}

.wait-indicator-envelope {
  background-color: rgba(0,0,0,0.3);
}

.wait-indicator-container {
  position: absolute;
  text-align: center;
  z-index: 10010;
}

.wait-indicator-container .wait-indicator-indicator {
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
  border: 10px solid #2d3541;
  border-radius: 50%;

  animation: cssload-spin 1250ms infinite linear;
  -o-animation: cssload-spin 1250ms infinite linear;
  -ms-animation: cssload-spin 1250ms infinite linear;
  -webkit-animation: cssload-spin 1250ms infinite linear;
  -moz-animation: cssload-spin 1250ms infinite linear;
}

.wait-indicator-container .wait-indicator-indicator.three-spinner {
  border-left-color: transparent !important;
}

.wait-indicator-container .wait-indicator-indicator.two-spinner {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

.wait-indicator-container .wait-indicator-indicator.one-spinner {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.wait-indicator-container .wait-indicator-message {
  max-width: 80%;
  position: absolute;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}




@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* ---------------- UI ---------------- */

.wait-indicator-envelope {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10005;
  top: 0;
  left: 0;
}

.wait-indicator-envelope {
  background-color: rgba(0,0,0,0.3);
}

.wait-indicator-container {
  position: absolute;
  text-align: center;
  z-index: 10010;
}

.wait-indicator-container .wait-indicator-indicator {
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
  border: 10px solid #2d3541;
  border-radius: 50%;

  animation: cssload-spin 1250ms infinite linear;
  -o-animation: cssload-spin 1250ms infinite linear;
  -ms-animation: cssload-spin 1250ms infinite linear;
  -webkit-animation: cssload-spin 1250ms infinite linear;
  -moz-animation: cssload-spin 1250ms infinite linear;
}

.wait-indicator-container .wait-indicator-indicator.three-spinner {
  border-left-color: transparent !important;
}

.wait-indicator-container .wait-indicator-indicator.two-spinner {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
}

.wait-indicator-container .wait-indicator-indicator.one-spinner {
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}

.wait-indicator-container .wait-indicator-message {
  max-width: 80%;
  position: absolute;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* orgstruct */

.orgstruct-header {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.orgstruct-layout {
  background-color: white;
}

.orgstruct-layout .selected-object {
  padding: 10px 35px 10px 10px;
  position: relative;
  line-height: normal;
  cursor: pointer;

  background-repeat: no-repeat;
  background-position: 10px center;
}

.orgstruct-layout .selected-object:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.orgstruct-layout .selected-object:after {
  content: "\f00d";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  right: 10px;
  top: 9px;
  font-size: 16px;
}

.orgstruct-layout .selected-object:hover {
  color: red;
}

.orgstruct-header .orgstruct-search {
  position: relative;
}

.orgstruct-header .orgstruct-search input[type="text"].search-input {
  padding: 5px 10px 5px 30px;
  border-radius: 10px;
}

.orgstruct-header .orgstruct-search .search-icon {
  position: absolute;
  left: 7px;
  top: 6px;
  font-size: 16px;
  color: #CCC;
}

.orgstruct-tree {
  height: 250px;
  overflow-y: auto;
}

.orgstruct-tree > .ygtvitem > .ygtvchildren > .ygtvitem {
  padding: 5px 10px;
}

.orgstruct-tree > .ygtvitem > .ygtvchildren > .ygtvitem:not(:first-child) {
  border-top: 1px solid #ccc;
}

.orgstruct-tree .ygtvtable {
  width: 100%;
}

.orgstruct-tree .ygtvcontent {
  padding: 5px 0;
  text-align: left;
  cursor: default;
}

.orgstruct-tree .selectable .ygtvrow .ygtvcontent {
  padding-right: 25px;
  position: relative;
}

.orgstruct-tree .selectable .ygtvrow .ygtvcontent:after {
  content: "\f067";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 16px;
}

.orgstruct-tree .ygtvcontent .ygtvlabel {
  display: block;
  cursor: default;
  margin: 0;
  padding-left: 10px;
  line-height: normal;

  background-position: left center;
  background-repeat: no-repeat;
}

.orgstruct-tree .ygtvtable.selectable .ygtvrow:hover .ygtvcontent,
.orgstruct-tree .ygtvtable.selectable .ygtvrow:hover .ygtvcontent .ygtvlabel {
  color: red;
  cursor: pointer;
}

.orgstruct-tree .ygtvfocus,
.orgstruct-tree .ygtvfocus .ygtvlabel {
  background-color: transparent;
}

.orgstruct-control-objects {
  float: left;
  width: 72.5%;
  position: relative;
}

.orgstruct-control-objects .selected-object-list li.selected-object {
  line-height: 200%;
}
#HEADER_SITE_MENU,
#HEADER_CREATE_CASE {
  font: 20px FontAwesome;
  color: #fff;
}

#HEADER_SITE_MENU_text:before {
  font: 20px FontAwesome;
  content: '\f013'; /* cog */
}

#HEADER_CREATE_CASE_text:before {
  font: 20px FontAwesome;
  content: '\f067 '; /* plus */
}

.mobile #HEADER_USER_MENU_text:before {
  font: 20px FontAwesome;
  color: #fff;
  content: '\f007'; /* user */
}

.alfresco-share .logo {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
}

.alfresco-share .logo.user-photo-header img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.alfresco-share #HEADER_USER_PHOTO a {
  cursor: default;
}