.hide-column
{
    display: none;
}

.yui-dt-col-taskType
{
    font-weight: bold !important;
}

th.yui-dt-col-taskType
{
    color: #ff0000 !important;
}

.loading-form {
    width: 100%;
    height: 100px;
    background: url(icons/large-loading.gif) no-repeat center center;
}

#Share .yui-button.users-of-group,
#Share .yui-button.users-of-group .first-child {
    border: none;
    margin: auto;
}

.users-of-group-menu-button .bd {
    max-height: 200px;
    overflow-y: auto;
}

.users-of-group-menu-button .bd li:hover {
    background-color: inherit;
}