.help-info {
    display: none;
    z-index: 9999;
    position: absolute;
    margin-top: 3px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(question_mark.png);
}

#help-tooltip {
    min-width: 150px;
    max-width: 200px;

    z-index: 9999;
    position: absolute;
    display: none;
    background: #ffffff;
    box-shadow: 4px 4px 10px #444;
    font-size: 13px;
    color: #444;

}

#close-cross {
    background: url(/share/res/themes/default/images/sprite.png) no-repeat 0 -300px;
    cursor: pointer;
    width: 25px;
    height: 15px;
    float: right;
    margin-right: 3px;
    margin-top: 3px;
}

#content {
    width: 91%;
    padding: 5px;
}

#help-tooltip-footer {
    padding-top: 6px;
    padding-bottom: 5px;
    font-size: 10px;
    float: right;
    margin-left: 4%;
    margin-right: 4%
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

