.invariants-form .form-fields .user-profile-custom-container {
    margin-left: -15px;
    margin-right: -20px;
}

.invariants-form .form-fields .user-profile-custom-container>.form-view.template-person-edit-btn {
    height: 50px;
    padding-right: 20px;
}

.invariants-form .form-fields .user-profile-custom-container>.form-view.template-rowset {
    display: inline-block;
    margin: 0 20px 25px 15px;
    width: 363px;
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 0px 1px #f5f5f5;
    border-radius: 3px;
    vertical-align: top;
}

.invariants-form .user-profile-custom-container>.form-view .title,
.user-profile-custom-container>.form-view .title {
    padding-top: 13px;
    padding-left: 11px;
    margin-bottom: 13px;
    height: 27px;
    font-weight: normal;
    color: #fefefe;
    background-color: #758faa;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ecos-form .form-fields .user-profile-custom-container .form-field {
    /*margin: 0 15px 20px;*/
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.ecos-form .form-fields .user-profile-custom-container .form-field .form-region.template-user-groups ol {
    padding-left: 17px;
}

.ecos-form .form-fields .user-profile-custom-container .form-field .form-region.template-user-groups li {
    list-style: disc;
    padding-left: 15px;
    padding-bottom: 5px;
}

.ecos-form .form-fields .user-profile-custom-container .form-field .form-region.template-label {
    margin-bottom: 9px;
    font-size: 11.5px;
}
.ecos-form .form-fields .user-profile-custom-container .form-field .form-region.template-label label {
    color: #52759d;
    font-weight: bold;
}

.ecos-form .form-fields .user-profile-custom-container .form-field .form-region {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 11.5px;
    font-weight: normal;
    float: none;
    color: #212121;
}

.ecos-form .form-fields .user-profile-custom-container .form-field.template-half-width {
    width: calc(45% - 12px);
}

.ecos-form .form-fields .user-profile-custom-container .form-field.template-row {
    border-bottom: none;
}

.ecos-form .form-fields .user-profile-custom-container .form-field .form-region.template-help {
    display: none;
}

.invariants-form .form-fields .user-profile-custom-container .user-profile-header {
    /*.invariants-form .form-fields .user-profile-custom-container>.form-view:nth-child(2) {*/
    display: block;
    width: initial;
    border-radius: 0;
    background-color: #99badd;
}

/* remove widths for blocks in header */
.invariants-form .form-fields .user-profile-custom-container .user-profile-header .form-field,
.invariants-form .form-fields .user-profile-custom-container .form-field.template-block {
    min-width: initial;
    width: initial;
}

.invariants-form .user-profile-custom-container .template-wide .template-blockset:after {
    background-color: initial;
}


.invariants-form .user-profile-custom-container .user-profile-header {
    margin-bottom: 20px;
}

.ecos-form .form-fields .user-profile-custom-container .user-profile-header .user-profile-header__column--fio .form-field .form-region {
    color: white;
    font-size: 150%;
    font-weight: bold;
}

.invariants-form .user-profile-custom-container .user-profile-header__column,
.invariants-form .user-profile-custom-container .user-profile-header__column--fio {
    display: inline-block;
    vertical-align: top;
}

.invariants-form .user-profile-custom-container .user-profile-header__column--fio {
    margin-top: 62px;
}


.invariants-form .user-profile-custom-container .user-profile-header__column--photo {
    margin-top: 22px;
    margin-left: 35px;
}

.invariants-form .user-profile-custom-container .user-profile-header__column--photo .block-region-label {
    margin: 0;
}

.invariants-form .user-profile-custom-container .user-profile-header__column .form-field {
    margin-bottom: 0;
}

.invariants-form .user-profile-custom-container .user-profile-header__column--photo .template-blockset:after {
    content: none;
}

.invariants-form .user-profile-custom-container .user-profile-header__column--photo .form-region {
    margin-bottom: 5px;
}

.invariants-form .user-profile-custom-container .user-profile-header__column--photo .form-region.template-img .img-cover {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
}
