.yui-skin-citeckTheme #alf-hd {
  border-bottom: 1px solid #ccc;
  background-color: white;
  width: 100% !important;
}

.yui-skin-citeckTheme #alf-full-width {
  margin: 0;
}


.yui-skin-citeckTheme #SHARE_HEADER {
  margin: 0;
  padding: 0 25px;
  background-color: #2d3541;
  border-bottom: 1px solid #ccc;
}

.yui-skin-citeckTheme #SHARE_HEADER .dijitMenuBar .dijitMenuItem {
  background-color: #2d3541;
  color: white;
  margin: 0;
  padding: 10px 15px;
  height: 20px;
}

.yui-skin-citeckTheme #SHARE_HEADER .dijitMenuBar .dijitMenuItem .alfresco-menus-AlfMenuBarPopup__arrow {
  margin-left: 5px;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar {
  padding: 0;
}

/* only for left-widgets */

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem {
  border-left: 1px solid #394353;
  border-right: 1px solid #1e242c;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem:first-child {
  border-left: none;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem:nth-last-child(2) {
  border-right: none;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem.dijitMenuItemHover,
.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem.yui-menu-button-hover {
  background-color: #394353;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem.yui-menu-button-active,
.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem.dijitMenuItemSelected.dijitMenuItemFocused,
.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem.dijitMenuItemSelected.dijitMenuItemFocused button {
  background-color: #252c36;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem.yui-menu-button-active button.alf-header-js-wrapper-button,
.yui-skin-citeckTheme #SHARE_HEADER #HEADER_APP_MENU_BAR .dijitMenuBar .dijitMenuItem.dijitMenuItemSelected.dijitMenuItemFocused .alf-menu-arrow {
   background-image: url(images/open-menu-tringle.png);
   background-position: center right;
}

/* end only for left-widgets*/


/* only for right-widgets */

.yui-skin-citeckTheme  #SHARE_HEADER #HEADER_USER_MENU_BAR .dijitMenuBar .dijitMenuItem.dijitMenuItemHover {
  background-color: #394353;
}

.yui-skin-citeckTheme  #SHARE_HEADER #HEADER_USER_MENU_BAR .dijitMenuBar.dijitMenuActive .dijitMenuItem {
  background-color: #252c36;
}

.yui-skin-citeckTheme  #SHARE_HEADER #HEADER_USER_MENU_BAR .dijitMenuBar.dijitMenuActive .alf-menu-arrow {
  background-image: url(images/open-menu-tringle.png);
  background-position: center right;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX {
  margin: 5px 10px;
  background-color: transparent;
  padding: 0;
  max-height: none;
  position: relative;
  height: auto;
  box-shadow: none;
  width: auto !important;
  top: 0;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX .alfresco-header-SearchBox-menu {
  position: absolute;
  margin-top: 5px;
  width: auto;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX .alfresco-header-SearchBox-menu .alf-menu-bar {
  float: left;
  padding-left: 5px;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX .alfresco-header-SearchBox-menu #HEADER_SEARCH_BOX_DROPDOWN_MENU {
  background-color: transparent;
  border: none;
  padding: 0 5px;
  display: table-cell;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX .alfresco-header-SearchBox-menu #HEADER_SEARCH_BOX_DROPDOWN_MENU:hover {
  background-color: transparent !important;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX .alfresco-header-SearchBox-menu #HEADER_SEARCH_BOX_DROPDOWN_MENU img.alf-search-icon {
  margin-top: 0;
  vertical-align: middle;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX input#HEADER_SEARCHBOX_FORM_FIELD {
  margin: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 25px 5px 25px;
  border-radius: 10px;
  position: static;
  width: 137px !important;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX input#HEADER_SEARCHBOX_FORM_FIELD:hover {
  border-color: #aaa !important;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX input#HEADER_SEARCHBOX_FORM_FIELD:focus {
  border-color: #1c55da !important;
}


.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX .alfresco-header-SearchBox-clear {
  position: absolute;
  top: 7px;
  right: 5px;
  margin: 0;
}

.yui-skin-citeckTheme #SHARE_HEADER #HEADER_SEARCH_BOX .alfresco-header-SearchBox-clear a {
  text-decoration: none;
}

/* end only for right-widgets*/



.yui-skin-citeckTheme #alf-hd .path-nav {
  padding: 0 40px 15px 40px;
  margin: 0;
}

.yui-skin-citeckTheme #alf-hd #HEADER_TITLE_BAR {
  background-color: white;
}

.yui-skin-citeckTheme #alf-hd #HEADER_TITLE_BAR header {
  height: 75px;
  padding: 0 30px 0 40px;
  overflow: hidden;
}

@media screen and (max-width: 810px) {
  .yui-skin-citeckTheme #alf-hd #HEADER_TITLE_BAR header {
    height: 150px;
  }
}

.yui-skin-citeckTheme #alf-hd #HEADER_TITLE_BAR .alfresco-layout-LeftAndRight__left,
.yui-skin-citeckTheme #alf-hd #HEADER_TITLE_BAR .alfresco-layout-LeftAndRight__right {
  height: 75px;
}

.yui-skin-citeckTheme #alf-hd #HEADER_TITLE_BAR .alfresco-layout-LeftAndRight__left > *,
.yui-skin-citeckTheme #alf-hd #HEADER_TITLE_BAR .alfresco-layout-LeftAndRight__right > * {
  position: relative;
  top: 50%;

  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.yui-skin-citeckTheme #HEADER_LOGO {
  border: medium none;
  margin: -4px 10px 7px 0;
  padding: 0;
}

.yui-skin-citeckTheme #HEADER_LOGO img {
  max-height: 48px !important;
}

.yui-skin-citeckTheme #HEADER_TITLE {
  margin: 0;
}

.yui-skin-citeckTheme #HEADER_TITLE a,
.yui-skin-citeckTheme #HEADER_TITLE span {
  font-family: Open Sans !important;
  font-weight: 900 !important;
  font-size: 18px !important;
  text-transform: uppercase;
}

.yui-skin-citeckTheme #HEADER_TITLE_VISIBILITY {
  margin-top: 0;
}

.yui-skin-citeckTheme #HEADER_TITLE_BAR .dijitMenuItem,
.yui-skin-citeckTheme #HEADER_TITLE_BAR .dijitMenuItemHover,
.yui-skin-citeckTheme #HEADER_TITLE_BAR .dijitMenuItemSelected {
  background-color: transparent;
}

.yui-skin-citeckTheme #HEADER_TITLE_BAR .dijitMenuItemHover a,
.yui-skin-citeckTheme #HEADER_TITLE_BAR .dijitMenuItemSelected a,
.yui-skin-citeckTheme #HEADER_TITLE_BAR .dijitPopupMenuItemHover span:first-child,
.yui-skin-citeckTheme #HEADER_TITLE_BAR .dijitPopupMenuItemSelected span:first-child,
.yui-skin-citeckTheme #HEADER_TITLE_BAR .dijitPopupMenuItemFocused span:first-child {
  color: red;
}

.yui-skin-citeckTheme #alf-hd #HEADER_TITLE_BAR .alfresco-layout-LeftAndRight__right > * {
  margin: 0 !important;
}

.yui-skin-citeckTheme #SHARE_HEADER .dijitMenuBar #HEADER_CUSTOMIZE_USER_DASHBOARD .dijitMenuItemHover, 
.yui-skin-citeckTheme #SHARE_HEADER .dijitMenuBar #HEADER_CUSTOMIZE_USER_DASHBOARD .dijitMenuItemSelected {
  background-color: transparent;
}




#alf-hd h1.sub-title {
  padding: 15px 40px;
  border-top: 1px solid #ccc;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}