/* JOURNALS */

.mobile #alfresco-journals .toolbar.icon-buttons .yui-button,
.mobile #alfresco-journals .toolbar-menu .icon-buttons .yui-button {
    margin-right: 0;
}

.mobile #alfresco-journals .toolbar.icon-buttons .yui-button.yui-menu-button span.first-child,
.mobile #alfresco-journals .toolbar-menu .icon-buttons .yui-button.yui-menu-button span.first-child {
    background-image: none !important;
    padding: 5px;
}

.mobile #alfresco-journals .toolbar.icon-buttons .yui-button span.first-child button:not(:empty),
.mobile #alfresco-journals .toolbar-menu .icon-buttons .yui-button span.first-child button:not(:empty) {
  background-position: center;
  font-size: 0;
  height: 19px;
}

.mobile #alfresco-journals {
    position: relative;
}

.mobile #alfresco-journals #alf-content {
    margin-left: 0 !important;
}

.mobile #alfresco-journals #alf-content .journal-content-table {
    margin: 5px 10px 5px 10px;
    box-sizing: border-box !important;
    width: auto;
}

.mobile #alfresco-journals #alf-content .journal-content .yui-dt .yui-dt-col-actions {
    display: none;
}

.mobile #alfresco-journals #alf-content .journal-content-pagination {
    margin: 5px 10px;
}

.mobile #alfresco-journals #alf-filters {
    display: none;
    position: absolute;
    top: 32px;
    background-color: white;
    width: 100% !important;
    border: 1px solid #ccc;
}

.mobile #alfresco-journals #alf-filters .yui-resize-handle {
    display: none;
}

.mobile #alfresco-journals #alf-filters .toolbar {
    padding: 0 10px;
}

.mobile #alfresco-journals #alf-filters .items-list {
    padding: 10px;
}

.mobile #alfresco-journals #alf-filters .items-list li {
    padding: 3px 10px;
}


/* HEADER and MAIN MENU and USER MENU*/

#HEADER_APP_MENU_BAR #HEADER_MOBILE_MENU,
.mobile #HEADER_APP_MENU_BAR .dijitMenuItem {
    display: none;
}

.mobile #HEADER_APP_MENU_BAR #HEADER_MOBILE_MENU,
#HEADER_APP_MENU_BAR .dijitMenuItem {
    display: inline-block;
}

.mobile #HEADER_APP_MENU_BAR .dijitMenuBar {
    padding-left: 0;
}

.mobile #HEADER_MOBILE_MENU,
.mobile #HEADER_USER_MENU {
    margin: 0;
}

.mobile #HEADER_MOBILE_MENU {
    padding-left: 10px;
}

.mobile #HEADER_USER_MENU {
    padding-right: 10px;
}

.mobile #HEADER_MOBILE_MENU_text {
    content: url(../images/treeline-20.png);
    width: 22px;
    height: 20px;
    float: left;
}

.mobile .dijitPopup[id*="HEADER_MOBILE_MENU"],
.mobile .dijitPopup[id*="HEADER_USER_MENU"] {
    width: 100%;
    box-sizing: border-box;
    left: 0 !important;
    overflow-y: visible !important;
}

.mobile .dijitPopup[id*="HEADER_MOBILE_MENU"] .alf-header-menu-bar,
.mobile .dijitPopup[id*="HEADER_USER_MENU"] .alf-header-menu-bar  {
    box-shadow: none;
    border: none;
    border-radius: 0;
}


.mobile #share-header .alf-header {
    margin: 0;
}

.mobile #share-header .widgets > .left-and-right .left-widgets .horizontal-widget:nth-child(2) {
    max-width: 55%;
}

.mobile #share-header .widgets > .left-and-right .left-widgets .horizontal-widget .alf-menu-title {
    margin-top: 7px;
}

.mobile #share-header .widgets > .left-and-right .left-widgets .horizontal-widget .alf-menu-title a.alf-menu-title-text {
    font-size: 22px;
}

@media screen and (max-width: 845px) {
    #HEADER_SEARCH_BOX {
        margin: 3px 10px;
    }

    #HEADER_USER_MENU {
        margin: 0 5px 0 0;
    }

    #HEADER_USER_MENU > span#HEADER_USER_MENU_text {
        font-size: 0;
        display: block;
        background-image: url(/share/res/js/alfresco/header/css/images/user-profile.png);
        width: 20px;
        height: 20px;
        float: left;
        background-repeat: no-repeat;
        background-position: center;
    }

    #HEADER_USER_MENU > span.alf-menu-arrow {
        padding: 0;
    }
}


/* DASHLETS */

.mobile #doc3 {
    margin: 0;
}

.mobile .dashlet {
    height: 100%;
    overflow: hidden;
}

.mobile .dashlet .body {
    overflow: auto;
    height: 250px !important;
}

.mobile .dcolumn {
    margin-top: 0;
}


/* ECOS FORMS */

.mobile .static .ecos-form {
    padding: 10px;
}

.mobile .ecos-form .loading-container .loading-indicator {
    width: 200px;
    height: 200px;
}

.mobile .ecos-form .form-fields .template-table {
    width: 100%;
    margin: 0;
}

.mobile .ecos-form .form-fields .template-table .form-view:after {
    display: none;
}

.mobile .ecos-form .form-fields .template-table .form-field,
.mobile .ecos-form .form-fields .template-table .form-field.with-help {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    float: none;
}

.mobile .ecos-form .template-table .template-view,
.mobile .ecos-form .template-table .template-view-table,
.mobile .ecos-form .template-table .template-select, 
.mobile .ecos-form .template-table .template-date, 
.mobile .ecos-form .template-table .template-datetime, 
.mobile .ecos-form .template-table .template-text, 
.mobile .ecos-form .template-table .template-auto-number, 
.mobile .ecos-form .template-table .template-autocomplete, 
.mobile .ecos-form .template-table .template-checkbox, 
.mobile .ecos-form .template-table .template-number, 
.mobile .ecos-form .template-table .template-free-content, 
.mobile .ecos-form .template-table .region-select-group {
    width: 100% !important;
}

.mobile .ecos-form .template-table .template-view,
.mobile .ecos-form .template-table .template-view-table {
    margin-bottom: 10px;
}

.mobile .ecos-form .template-table .template-select select {
    margin: 0;
}

.mobile .ecos-form .form-fields .template-table .form-field:after {
    content: "";
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region,
.mobile .ecos-form .form-fields .template-table .form-field .region-group {
    display: block;
    clear: both;
    position: static;
    float: none;
}

.mobile .ecos-form .form-fields .template-table .form-field .region-group {
    margin-top: 0;
    max-width: 100%;
    width: 100%;
}

.mobile .ecos-form .form-fields .template-table .form-field .region-group .form-region {
    margin: 0 10px 0 0;
    float: left;
    clear: right;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-checkbox,
.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-label, 
.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-mandatory {
    display: inline-block;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-checkbox {
    width: 13px !important;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-label {
    padding: 0;
    margin-bottom: 10px;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-label label {
    padding: 0;
    line-height: 100%;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-message {
    margin-left: 0;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-help {
    position: absolute;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-date input[type="date"] {
    width: 100%;
    box-sizing: border-box;
}

.mobile .ecos-form .form-fields .template-tabs .tabs-body {
    padding: 15px !important;
}


/* SELECTORS */

.mobile .yui-panel .orgstruct-layout .yui-u {
    width: 100%;
    box-sizing: border-box;
    padding: 0 !important;
}

.mobile .yui-panel .orgstruct-layout .orgstruct-tree {
    height: 200px !important;
    padding: 5px 10px;
    box-sizing: border-box;
}

.mobile .yui-panel .orgstruct-layout .yui-u.first .yui-resize-handle {
    display: none;
}

.mobile .yui-panel .orgstruct-layout .orgstruct-selected-items:not(:empty) {
    border-top: 1px solid #ccc;
    padding: 5px 0;
    max-height: 65px;
    overflow: auto;
    box-sizing: border-box;
}

.mobile .yui-panel .orgstruct-layout .orgstruct-tree > .ygtvitem > .ygtvchildren > .ygtvitem:not(:first-child) {
    border: none;
}

.mobile .yui-panel .orgstruct-layout .orgstruct-tree > .ygtvitem > .ygtvchildren > .ygtvitem {
    padding: 0;
}

.mobile .yui-panel .orgstruct-layout .selected-object:not(:last-child) {
    border: none;
}

.mobile .yui-panel .orgstruct-layout .selected-object {
    padding: 3px 35px 3px 27px;
    background-position: 5px center;
}

.mobile .yui-panel .orgstruct-layout .selected-object:after {
    top: 4px;
    background-size: 10px;
    width: 10px;
    height: 10px;
}

.mobile .journal-container {
    height: 188px;
}

.mobile .journal-container.selected-elements {
    height: 80px;
}

.mobile .journal-picker-page-container.collapse .filter-page .selected-filter-criteria-container {
    max-height: 86px;
    padding: 10px;
}

.mobile .journal-picker-page-container .filter-page .selected-filter-criteria-container .filter-criteria-actions {
    padding: 0 10px;
}

.mobile .journal-picker-header {
    padding: 5px 10px;
}

.mobile .journal-container .journal th, 
.mobile .journal-container .journal tr.journal-element td {
    padding: 7px 10px;
}

.mobile  .journal-capture {
    padding: 10px;
}


/* YUI */

.mobile .yui-overlay-hidden {
    display: none;
}


/* CARD */

.mobile #bd > .yui-gc > .yui-u {
    width: 100% !important;
    margin: 0;
    float: none;
}