/* HEADER and MAIN MENU*/

.mobile #share-header .alf-header {
    margin: 0   ;
}

.mobile #share-header .widgets > .left-and-right .left-widgets .horizontal-widget:nth-child(2) {
    max-width: 55%;
}

.mobile #share-header .widgets > .left-and-right .left-widgets .horizontal-widget .alf-menu-title {
    margin-top: 7px;
}

.mobile #share-header .widgets > .left-and-right .left-widgets .horizontal-widget .alf-menu-title a.alf-menu-title-text {
    font-size: 22px;
}


.mobile .logo {
    margin: 0;
    padding: 0;
    border: none;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    margin-left: 10px;
}

.mobile .mobile-menu-button {
    height: 48px;
    width: 48px;
    padding: 0;
    background-image: url(/share/res/citeck/images/treeline-48.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

.mobile .alf-menu-bar .dijitMenuBar > span.dijitMenuItem {
    display: none;
}

/* hide menu while transformation is in process */
.mobile #share-header {
    display: none;
}
/*----------------------------------------------*/

.mobile .alf-menu-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mobile .alf-menu-bar .dijitMenuBar > div.dijitMenuItem {
    display: block;
}

/* DASHLETS */

.mobile #doc3 {
    margin: 0;
}

.mobile .dashlet {
    height: 100%;
    overflow: hidden;
}

.mobile .dashlet .body {
    overflow: auto;
    height: 250px !important;
}

.mobile .dcolumn {
    margin-top: 0;
}


/* ECOS FORMS */

.mobile .ecos-form .form-fields .template-table {
    width: 100%;
    margin: 0;
}

.mobile .ecos-form .form-fields .template-table .form-view:after {
    display: none;
}

.mobile .ecos-form .form-fields .template-table .form-field,
.mobile .ecos-form .form-fields .template-table .form-field.with-help {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

.mobile .ecos-form .form-fields .template-table .form-field:after {
    content: "";
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region,
.mobile .ecos-form .form-fields .template-table .form-field .region-group {
    display: block;
    clear: both;
    position: static;
    float: none;
}

.mobile .ecos-form .form-fields .template-table .form-field .region-group {
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
}

.mobile .ecos-form .form-fields .template-table .form-field .region-group .form-region {
    margin: 0 10px 0 0;
    float: left;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-checkbox,
.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-label, 
.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-mandatory {
    display: inline-block;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-label {
    padding: 0;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-label label {
    padding: 0;
    line-height: 100%;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-help {
    position: absolute;
}

.mobile .ecos-form .form-fields .template-table .form-field .form-region.template-date input[type="date"] {
    width: 100%;
}


/* YUI */

.mobile .yui-overlay,
.mobile .yui-overlay-hidden {
    display: none;
}


/* JOURNAL */

.mobile #alfresco-journals .toolbar.icon-buttons .yui-button,
.mobile #alfresco-journals .toolbar-menu .icon-buttons .yui-button {
    margin-right: 0;
}

.mobile #alfresco-journals .toolbar.icon-buttons .yui-button.yui-menu-button span.first-child,
.mobile #alfresco-journals .toolbar-menu .icon-buttons .yui-button.yui-menu-button span.first-child {
    background-image: none !important;
    padding: 5px;
}

.mobile #alfresco-journals .toolbar.icon-buttons .yui-button span.first-child button:not(:empty),
.mobile #alfresco-journals .toolbar-menu .icon-buttons .yui-button span.first-child button:not(:empty) {
  background-position: center;
  font-size: 0;
  height: 19px;
}